.colecciones {
    grid-area: colecciones;
    margin-top: 40px;

    .dif-colecc {
        display: flex;
        justify-content: space-around;
        .effect {
            position: relative;
            width: 50%;
            .secc {
                display: block;
                width: 100%;
                height: auto;
              }
            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-color: rgba(0, 0, 0, 0.801);
                .text {
                    color: white;
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    text-align: center;
                  }
                }  
            }
            .effect:hover .overlay {
                opacity: 1;
              }
      }
      
}


/* Responsive */


@media screen and (max-width: 580px) {

        .colecciones {
            grid-area: colecciones;
            margin-top: 40px;
            display: flex;
            flex-direction: column;

            .dif-colecc {
                display: flex;
                align-items: center;
        }
        }
    }

    .productos{
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow:hidden;
        padding-top: 20px;
        .effect {
            position: relative;
            width: 50%;
          }
          
          .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: rgba(0, 0, 0, 0.801);
            .text {
                color: white;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
              }
          }
          
          .effect:hover .overlay {
            opacity: 1;
          }
        
          .secc {
            display: block;
            width: 100%;
            height: auto;
          }
    }

